.hangingStand{
    position: relative;
}
.hang{
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
}
.support{
    height: 10px;
    width: 200px;
    background: black;
    margin-left: 120px;
}
.stand{
    height: 400px;
    width: 10px;
    background: black;
    margin-left: 120px;
}
.base{
    height: 10px;
    width: 250px;
    background: black;
}
.head{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid black;
    position: absolute;
    top: 49px;
    right: -20px;
}
.hangedBody{
    width: 10px;
    height: 121px;
    background: black;
    position: absolute;
    top:97px;
    right: 0 ;
}
.right_arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: -100px;
    rotate: -30deg;
    transform-origin: left bottom;
}
.left_arm{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 150px;
    right: 10px;
    rotate: 30deg;
    transform-origin: right bottom ;
}
.left_leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 209px;
    right: 0;
    rotate: -60deg;
    transform-origin: right bottom;
}
.right_leg{
    width: 100px;
    height: 10px;
    background: black;
    position: absolute;
    top: 209px;
    right: -90px;
    rotate: 60deg;
    transform-origin: left bottom;
}